.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 36px;
  border-radius: 8px;
  transition: all ease-in-out 120ms;
  -webkit-app-region: none;
  background: transparent;
  margin-right: -2px;

  .analyticsIcon {
    color: var(--secondary);
    height: 19px;
    width: 19px;
    transition: all ease-in-out 220ms;
    transition-delay: 40ms;
  }

  &:hover {
    cursor: pointer;
    background: var(--bg-secondary);
    color: var(--primary);
  }

  &:active {
    background: var(--bg-tertiary);
  }
}

button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--bg-tertiary);
  position: fixed;
  inset: 0;
  animation: overlayShow 120ms cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0.9;
  z-index: 40;
}

.DialogContent {
  z-index: 50;
  background-color: var(--bg);
  border-radius: 22px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1000px;
  min-width: 400px;
  max-height: 85vh;
  padding: 22px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: auto;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Porpora';
  font-size: 1.4em;
  color: var(--primary);
  margin-bottom: 16px;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 28px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all ease-in-out 120ms;
  stroke-width: 2px;
  color: var(--secondary);
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background: transparent;

  &:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--bg-secondary);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
