/* For Chrome, Safari, and Opera */
.scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;
}