/* For Chrome, Safari, and Opera */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 90px;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
  overflow-x: hidden;
  overflow-y: auto;
}
