.container {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  border-radius: 7px;
  font-size: 13px;
  line-height: 1.3;
  position: relative;
  color: var(--secondary);
}

.reflectIcon {
  height: 17px;
  width: 17px;
  margin-right: 8px;
  opacity: 0.8;
}

.waiting {
  height: 17px;
  width: 17px;
  margin-right: 8px;
  opacity: 0.8;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 280px;
}
